@font-face {
    font-family: "Forum";
    src: url("../assets/fonts/Forum-Regular.ttf");
}
  
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Thin.ttf");
    line-height: 100;
}

@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Light.ttf");
    line-height: 300;
}

html {
    width: 1920px;
}

body {
    background: #030303;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 1440px;
    height: 150px;

    margin: 0 auto;
}

.logo {
    display: flex;
    justify-content: space-between;
    width: 199px;
    height: 33px;
}

.logo img {
    width: 49px;
    height: 26px;
}

.logo p {
    font-family: "Forum";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
    /* identical to box height */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #FFFFFF;

    border: 1px solid #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-between;

    width: 775px;
    height: 26px;
}

.menu a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #ffffff;
}

.welcome {
    width: 1440px;
    height: 810px;

    background: url("/assets/img/mona-lisa.jpg");
    background-repeat: no-repeat;
    /* background-position: calc(50% + 352px) 100%; */
    background-position: top right;

    margin: 0 auto;
}

.welcome-text {
    width: 598px;
    height: 388px;

    margin-top: 150px;
}

.welcome-text h2 {
    font-family: "Forum";
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    /* or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #ffffff;
}

.welcome-text p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: 2px;

    margin-top: 10px;
    margin-bottom: 70px;

    color: #ffffff;
}

.welcome-text button {
    width: 360px;
    height: 75px;

    background: #710707;
    border-radius: 10px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;

    color: #ffffff;
}

.welcome-slider {
    width: 600px;
    height: 120px;

    margin-left: 840px;
    margin-top: 690px;

    background: #030303;
}

.virtual-tour {
    width: 1440px;
    height: 1116px;

    margin: 0 auto;
    margin-top: 75px;

    background: #DBDBDB;;
}

.virtual-tour h2 {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #9D8665;
}

.tour-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 76px 60px;

    width: 1440px;
}

.tour-card {
    width: 440px;
    height: 424px;
}

.tour-card h3 {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;

    color: #000000;

    margin-top: 15px;
    margin-bottom: 5px;
}

.tour-card h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */

    color: #000000;

    margin-bottom: 7px;
}

.tour-card p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    color: #000000;
}

.explore {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    width: 1440px;
    height: 715px;

    margin: 0 auto; 

    margin-top: 150px;
    margin-bottom: 50px;
}

.explore .description {
    max-width: 660px;
    padding-right: 55px;
}

.explore .description h2 {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    color: #ffffff;
}

.explore .description p {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;

    margin-bottom: 25px;

    color: #ffffff;
}
  
.explore .description span {
    color: #caaa7d;
}
  
.explore img {
    padding-top: 10px;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding-top: 90px;

    background: #ffffff;

    margin: 0 auto;
}

.video h2 {
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    /* identical to box height, or 112% */

    letter-spacing: 5px;
    text-transform: uppercase;

    margin-right: 113px;
    margin-bottom: 0;

    color: #9d8665;
}

.video p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    /* or 175% */

    width: 720px;

    color: #000000;

}

.video .content {
    position: relative;
    font-size: 0;
    margin-bottom: 40px;
 }
  

.video .content img {
    margin-bottom: 0;
}

.video .content .video-play {
    position: absolute;
    top: 205px;
    width: 220px;
    height: 220px;
    left: calc(50% - 110px);
    background-image: url("../assets/icons/big-video-play.svg");
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: filter 0.4s;
}

.video .content .video-play:hover {
    filter: invert(63%) saturate(1%) hue-rotate(180deg) contrast(84%);
}

.video .content .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 31px;
    height: 85px;
    background-color: #030303;
}

.controls .control {
    width: 27px;
    height: 30px;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: filter 0.4s;
}
  
.controls .control:hover {
    filter: invert(63%) saturate(1%) hue-rotate(180deg) contrast(84%);
}

.controls .control-play {
    background-image: url(../assets/icons/video-play.svg);
    width: 23px;
}
  
.controls .scroll-bar {
    background: linear-gradient(
      to right,
      #710707 0%,
      #710707 47%,
      #c4c4c4 47%,
      #c4c4c4 100%
    );
    border-radius: 0px;
    height: 8px;
    width: 929px;
    outline: none;
    -webkit-appearance: none;
}
  
.controls .scroll-bar::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: pointer;
    background: #c4c4c4;
}
  
.controls .volume {
    display: flex;
    align-items: center;
}
  
.controls .control-volume {
    margin-right: 18px;
    width: 38px;
    background-image: url(../assets/icons/video-volume.svg);
}
  
.controls .vol {
    margin-right: 7px;
    width: 155px;
    background: linear-gradient(
      to right,
      #710707 0%,
      #710707 45%,
      #c4c4c4 45%,
      #c4c4c4 100%
    );
}
  
.controls .control-fullscreen {
    background-image: url(../assets/icons/video-fullscreen.svg);
    width: 36px;
    height: 36px;
}